@model ProjectPlanningApp.Areas.User.Models.Board;
@{
    ViewData["Title"] = "Board";
}

<body style="background-color:@Model.BackgroundColour; height:100%">
    <div class="container">
        <div class="text-center">
            <br />
            <br />
            <br />
            <h1>@Model.Title</h1>
            <hr />
            <div class="row justify-content-start">
                @if (Model.Lists.Count == 0)
                {
                    <form asp-action="CreateBoardList" method="post">
                        <div class="col-2">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa-solid fa-plus"></i> Add a list
                                </div>
                                <div class="card-body">
                                    <input name="id" value="@Model.Id" type="hidden" />
                                    <input name="listName" class="form-control" />
                                    <br />
                                    <input class="btn btn-outline-secondary" type="submit" />
                                </div>
                            </div>
                        </div>
                    </form>
                }
                else if (Model.Lists.Count > 0)
                {
                    foreach (var list in Model.Lists)
                    {
                        <div class="col-2">
                            <div class="card">
                                <div class="card-header d-flex justify-content-center">
                                    @list.Name <span class="ms-auto text-muted"><i class="fa-solid fa-ellipsis"></i></span>
                                </div>
                                <div class="card-body">
                                    <input name="id" value="@Model.Id" type="hidden" />
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fa-solid fa-plus"></i> Add a Card
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <form asp-action="CreateBoardList" method="post" class="col-2">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa-solid fa-plus"></i> Add a list
                            </div>
                            <div class="card-body">
                                <input name="id" value="@Model.Id" type="hidden" />
                                <input name="listName" class="form-control" />
                                <br />
                                <input class="btn btn-outline-secondary" type="submit" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</body>

<!-- Modal -->
<form asp-action="CreateCard" method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a Card</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input name="listId" type="hidden" />
                    <input class="form-control" name="cardName"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>