@model ProjectPlanningApp.Areas.User.Models.Board;
@{
    ViewData["Title"] = "Board";
}

<body style="background-color:@Model.BackgroundColour; height:100%">
    <div class="container">
        <div class="text-center">
            <br />
            <br />
            <br />
            <h1>@Model.Title</h1>
            <hr />
            <div class="row justify-content-start">
                @if (Model.Lists.Count == 0)
                {
                    <form asp-action="CreateBoardList" method="post">
                        <div class="col-2">
                            <div class="card">
                                <div class="card-header">
                                    Add a list
                                </div>
                                <div class="card-body">
                                    <input name="id" value="@Model.Id" type="hidden" />
                                    <input name="listName" class="form-control" />
                                    <input class="btn btn-outline-secondary" type="submit" />
                                </div>
                            </div>
                        </div>
                    </form>
                }
                else if (Model.Lists.Count > 0)
                {
                    foreach (var list in Model.Lists)
                    {
                        <div class="col-2">
                            <div class="card">
                                <div class="card-header">
                                    @list.Name
                                </div>
                                <div class="card-body">
                                    <input name="id" value="@Model.Id" type="hidden" />
                                </div>
                            </div>
                        </div>
                    }
                    <form asp-action="CreateBoardList" method="post">
                        <div class="col-2">
                            <div class="card">
                                <div class="card-header">
                                    Add a list
                                </div>
                                <div class="card-body">
                                    <input name="id" value="@Model.Id" type="hidden" />
                                    <input name="listName" class="form-control" />
                                    <input class="btn btn-outline-secondary" type="submit" />
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</body>

